html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  height: 100vh;  
  background-image:url('https://cdn-uploads.huggingface.co/production/uploads/68c9040752743c0e389c6079/3Bwo1Og_FLJVaDbXqihW8.gif');
  background-size:cover;background-position:center;color:white ;  background-repeat: no-repeat; border-radius:10px;
}
    
.form-group input, .form-group label {
  background: transparent;
  color: white;
  border: 2px solid black;
  display:block;
  width:80%;
  
}
.page-container {
  width: 450px;             /* Fixed width */
  background: transparent;        /* Background color (or use an image) */
  border-radius: 20px;      /* Rounded corners */
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.7),
    0 10px 20px rgba(0, 0, 0, 0.6),
    0 15px 30px rgba(0, 0, 0, 0.5);
  background: #fff;; /* Soft shadow */
  color: #333;              /* Text color */
  font-family: Arial, sans-serif;
  text-align: left;
}

