<html>
  <head>
    <title>Canva Poster Showcase</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1 style="text-align:center;">Your First Look at "COINSIGHT AI PROJECT": The Poster Says It All</h1>

    <!-- Make the image clickable to open in a new tab -->
    <a href="https://cdn-uploads.huggingface.co/production/uploads/68c9040752743c0e389c6079/8QNXmSCVwd5DrgnZPb1Io.png" target="_blank">
      <img 
        src="https://cdn-uploads.huggingface.co/production/uploads/68c9040752743c0e389c6079/8QNXmSCVwd5DrgnZPb1Io.png" 
        alt="poster_img" 
        style="display:block; margin:auto; max-width:90%; height:auto; cursor: pointer;"
      >
    </a>

    <p style="text-align:center;">
      <a href="https://drive.google.com/file/d/1C-7fv3XZsAhIZYcb5UxjLAL7XLM-tkuc/view?usp=sharing" target="_blank">
        View Poster as PDF
      </a>
    </p>
  </body>
</html>
