.form-group{
    width:400px;
  margin:50px auto;
  padding:20px;
  background-image:url('https://cdn-uploads.huggingface.co/production/uploads/68c9040752743c0e389c6079/nh3UUSLdu8GeP_qB5R2qe.jpeg');
  background-size:cover;background-position:center;color:white ; border-radius:10px
}